<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_compass"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <service
            android:name=".WeatherCarAppService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
            </intent-filter>

            <meta-data
                android:name="androidx.car.app.minCarApiLevel"
                android:value="1" />
            <meta-data
                android:name="androidx.car.app.auto.navigation.color"
                android:resource="@android:color/holo_blue_dark" />
            <meta-data
                android:name="androidx.car.app.developer_car_app"
                android:value="true" />
            <meta-data
                android:name="androidx.car.app.carAppMetadata"
                android:resource="@xml/automotive_app_desc" />
        </service>
    </application>

</manifest>
